.nav {
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    color: white;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 1em;
    margin-right: 1em;
}
 .tabDiv:hover{
     background: #404040;
     cursor: pointer;
 }